/* regole di reset */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

a {
    text-decoration: none;
}

h2 {
    font-size: 20px;
}

ul li {
    padding: 5px 0;
    list-style: none;
}

/* regole di main-header */
.main-header {
    padding: 10px 20px;
    font-size: 40px;
    font-weight: 700;
}

.main-header .logo {
    vertical-align: middle;
}

/* regole di main */
main {
    padding: 40px 10px 10px;
    background-color: #F6F8F9;
}

.container {
    max-width: 800px;
    margin: 0 auto;
}

.card {
    border-radius: 5px;
    background-color: #ffffff;
}

.card header {
    padding: 10px 50px;
    border-bottom: 2px solid #F6F8F9;
}

.btn, .badge {
    margin-right: 5px;
    display: inline-block;
    padding: 5px 10px;
}

.btn {
    border-radius: 5px;
    font-size: 12px;
}

.btn-primary {
    background-color: #47ADF1;
    color: #ffffff;
}

.btn-secondary {
    border: 1px solid #CDD2D6;
    color: #CDD2D6;
}

.card section {
    padding: 30px 50px;
}

.card section + section {
    padding-top: 0;
}

.circle {
    display: inline-block;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    margin-right: 5px;
    font-size: 12px;
    text-align: center;
    line-height: 18px;
    vertical-align: middle;
}

.circle-green {
    border: 1px solid #64C0A9;
    color: #64C0A9;
}

.circle-red {
    border: 1px solid #EB5852;
    color: #EB5852;
}

.badge {
    border-radius: 10px;
    font-size: 10px;
    color: #ffffff;
}

.badge-editorial {
    background-color: #47ADF1;
}

.badge-q1-goals {
    background-color: #9C72E4;
}

.badge-recruiting {
    background-color: #64C0A9;
}

.badge-mobile {
    background-color: #F29E33;
}

.badge-website {
    background-color: #D863A1;
}

.badge-sales {
    background-color: #B0C926;
}

/* regole di debug */
.debug * {
    padding: 15px;
    border: 2px solid red;
}